.ui-panel-content-wrap{
    
        background-image:url('https://s3.amazonaws.com/assets.codiqa.com/NhO3RMQDRAKY0k8ajRLJ_Fantasy-Sky-Step2.jpg');
    
        background-repeat:no-repeat;
    
        background-size: cover;
    
    }